// this file includes general body elements
body{
	background-color: #fff;
	font-size: 14px;
	line-height: 1.6 !important;
	font-family: 'Roboto', sans-serif;
	color: #000;
  	-webkit-text-size-adjust: 100%
}
*:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}